

ul {
    
    list-style: none;
    font-family: arial;
    font-size: 90px;
    margin-right: 41px;
    margin-left: auto;  
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    color: black;
    margin-top: 50px;

    
 
  
    
}

li {
    padding: 15px;
    white-space: nowrap;
    text-align: center;

    
    
    
}




a:link {
    
    text-decoration: none;
    color: black;
    
}




a:visited {
    text-decoration: none;
    color: black;
    
}




a:hover {
    text-decoration: none;
    color: red;
    
    
}






img {
    width: 200px;
    height: 200px;;
    margin-left: auto;
    margin-right: auto;
    display: block;

    
    
    
}